<h1>
  List of all blood tests
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new blood test
    </h2>
  </header>

  <form action="/insert_blood_test" method="post" enctype="multipart/form-data">
  
    <div>
      <label for="upload_bloodtest"></label>

      <input type="file" id="upload_bloodtest" name="new_bloodtest">
    </div>

    <button type="submit">
      Upload new bloodtest
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_blood_tests.each do |a_blood_test| %>
      <li>
        <a href="/blood_tests/<%= a_blood_test.id %>">
          Blood test #<%= a_blood_test.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
